
/* В этой секции все про header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 58px;
    background-color: rgb(0, 0, 0); 
    z-index: 1000;
    color: var(--regular-text-color);
    user-select: none;
}

.header * {
    overflow-y: hidden;
}

/* Мое имя в Хэдере */
#My-name{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.2px;
    opacity: .9;
    text-transform: capitalize;
}

#My-name:hover{
    font-size: 1.19rem;
    opacity: .8;
}

/* Текст Portfolio в Хэдере */
#header-text-portfolio{
    font-family: var(--my-font);
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -.5px;
    text-transform: uppercase;
    transition: .4s;
}

#header-text-portfolio:hover{
    font-size: 1.87rem;
    opacity: .8;
}

/* Навигацию в хэдере */
.menu{ 
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Отдельные элементы навигации */
.menu-element{
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
    transition: .2s;
}

.menu-element:hover{
    font-size: 1.08rem;
    opacity: .8;
}

/* Action кнопка в хэдере */
#contact-me-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid White 1px;
    width: 130px;
    height: 38px;
    font-weight: 600;
    cursor: pointer;
    transition: .4s;    
}

#menu-img{
    display: none;
}
