.footer-navigation{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-nav-link{
    font-size: 18px;
    transition: .5s;
    z-index: 1000;
}

.footer-nav-link:hover{
    font-size: 15px;
}
