/* Планшеты */
@media only screen and (max-width: 768px) {
    #adaptive-workInProgress{
        margin-bottom: 100px;
        display: block;
    }

    /* Header */
    #My-name{
        font-size: 1.1rem;
        gap: 5px;
    }

    #My-name:hover{
        font-size: 1.08rem;
    }

    #header-text-portfolio{
        font-size: 1.6rem
    }      

    #header-text-portfolio:hover{
        font-size: 1.55rem
    }      
    #menu-img {
        display: inline-block;
        position: relative;
        color: white;
        font-size: 2rem;
    }
    
    #dropdown-content{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        color: black
            
    }

    .menu-dropdown:hover #dropdown-content{
        display: block;
    }

}


@media only screen and (max-width: 600px){
    /* Header */
    #My-name{
        flex-direction: column;
    }
    
    #My-name h4{
        font-size: .8rem;
        margin: 0;
        line-height: .7rem;
    }

    #My-name:hover{
        font-size: .78rem;
    }

    #header-text-portfolio{
        font-size: 1.3rem
    }      

    #header-text-portfolio:hover{
        font-size: 1.25rem
    }      

    #menu-img {
        display: inline-block;
        position: relative;
        color: white;
        font-size: 2rem;
    }
    
    #dropdown-content{
        display: none;
        position: absolute;
        background-color: #111111;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        color: black;
        right: 1px;
    }

    .menu-dropdown:focus #dropdown-content{
        display: block;
    }
}