/* Нужные переменные, цвета */
:root{
    --background-color-primary: rgba(22, 31, 38, 0.70);
    --background-color-secondary: rgba(5, 20, 34, 1);
    --regular-text-color: white; 
    --my-font: 'Montserrat', sans-serif
}


/* Убераю значения браузеров по дефолту */
body, div, img, h1, h3, button{
    margin: 0;
    padding: 0;
    color: var(--regular-text-color);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

/* Бэкграунд сайта везде */
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--background-color-secondary);
    background-color: var(--background-color-secondary);
    background-image: linear-gradient(270deg, rgba(5, 5, 5, 0.7) 20.58%, rgba(5, 5, 5, 0.11) 98.21%),
        linear-gradient(90deg, rgba(104, 104, 104, 0) 50%, rgba(22, 22, 22, 0) 100%);
    font-family: var(--my-font);
    overflow: hidden;
    padding-bottom: 150px;
}

/* нормальные ссылки */
a{
    text-decoration: none;
    color: var(--regular-text-color)
}


/* В этой секции все про header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 67px;
    background-color: var(--background-color-secondary);
    color: var(--regular-text-color);
    user-select: none;
    position: fixed;
}

#header-text-portfolio{
    font-family: var(--my-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .4s;
}

#header-text-portfolio:hover{
    font-size: 31px;
    opacity: .8;
}

.menu{ 
    display: flex;
    gap: 50px;
}

.menu-element{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: .4s;
}

.menu-element:hover{
    font-size: 19px;
    opacity: .8;
}

/* Мини футер */
.mini-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40px;
    height: 140px;
    position: fixed;
    left: 96vw;
    top: 150px
}

.mini-footer-element{
    height: 30px;
    width: 30px;
    user-select: none;
    transition: .2
}

.mini-footer-element:hover{
    opacity: .8;
    width: 29px;
    height: 29px;
}