/* Нужные переменные, цвета */
:root{
    --background-color-primary: rgba(22, 31, 38, 0.70);
    --background-color-secondary: rgba(5, 20, 34, 1);
    --regular-text-color: white; 
    --my-font: 'Montserrat', sans-serif
}

/* Убераю значения браузеров по дефолту */
body, div, img, h1, h3, button{
    margin: 0;
    padding: 0;
    color: var(--regular-text-color);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color-secondary);
    background-color: var(--background-color-secondary);
    background-image: linear-gradient(270deg, rgba(5, 5, 5, 0.7) 20.58%, rgba(5, 5, 5, 0.11) 98.21%),
        linear-gradient(90deg, rgba(104, 104, 104, 0) 50%, rgba(22, 22, 22, 0) 100%);
    font-family: var(--my-font);
    overflow: hidden;
}

