/* Контент главной страницы */
.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Контейтер где находяться весь тексты */
.main-text-container{
    font-size: var(--body-text-size);
    font-style: normal;
    font-weight: 50;
    line-height: 20px; 
    letter-spacing: 1px;
    margin-bottom: 100px;
    margin-left: 50px;
}

/* Заголовок Welcome */
.main-text-container h1{
    font-size: 75px;
    font-style: normal;
    font-weight: 500;
    line-height: 90px;
    letter-spacing: -1px;
    opacity: .95;    
}

.main-text-container p{
    width: 400px;
    opacity: .8;
}

#first-p{
    margin-left: 400px;
}

#third-p{
    margin-left: 400px;
}

.bottom-text{
    width: 321px;
    padding: 3px;
    border-left: dashed white 1px;
    border-bottom: dashed white 1px;
    position: relative;
    left: 150px;
    bottom: 80px
}

.bottom-text span{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Source Serif Pro';
}