/* Контент главной страницы */
#landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    width: 75vw;
    height: 80%;
    overflow: hidden;
}

/* Контейтер где находяться весь тексты */
.main-text-container{
    font-size: var(--body-text-size);
    font-style: normal;
    font-weight: 50;
    line-height: 20px; 
    letter-spacing: 1px;
}

/* Заголовок Welcome */
.main-text-container h1{
    font-size: 75px;
    font-style: normal;
    font-weight: 500;
    line-height: 90px;
    letter-spacing: -1px;
}

.main-text-container p{
    width: 400px;
    padding: 35px  0px;
}

#first-p{
    margin-left: 250px;
}

#third-p{
    margin-left: 250px; 
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: auto;    
    overflow-y: hidden;    
}

#web-dev-img{
    width: 100%;
}

.image-container span{
    color: black;
    font-size: 20px;
}

.bottom-text{
    padding: 3px 4px;
    border-left: dashed white 1px;
    border-bottom: dashed white 1px;
    position: relative;
    right: 600px;
    top: 80px;
    margin-bottom: 100px;
}

.bottom-text span{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Source Serif Pro';
}