/* Контент главной страницы */
#landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    width: 70vw;
    height: 80%;
    overflow: hidden;
}

/* Контейтер где находяться весь тексты */
.main-text-container{
    font-size: var(--body-text-size);
    font-style: normal;
    font-weight: 50;
    line-height: 20px; 
    letter-spacing: 1px;
}

/* Заголовок Welcome */
.main-text-container h1{
    font-size: 75px;
    font-style: normal;
    font-weight: 500;
    line-height: 90px;
    letter-spacing: -1px;
    opacity: .95;    
}

.main-text-container p{
    width: 400px;
    opacity: .8;
}

#first-p{
    margin-left: 350px;
}

#third-p{
    margin-left: 350px;
}

.image-container{
    height: 70%;
    width: 40%;
    background-color: rgb(248, 248, 232);
}

.image-container span{
    opacity: 0
}

.bottom-text{
    width: 321px;
    padding: 3px;
    border-left: dashed white 1px;
    border-bottom: dashed white 1px;
    position: relative;
    right: 600px;
    top: 50px
    /* bottom: 60px */
}

.bottom-text span{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Source Serif Pro';
}