#services-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 150px;
}

#services-header{
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -2px;
    margin-bottom: 50px
}

.services-container{
    display: flex;
    gap: 70px;
}

.service-card{ 
    width: 270px;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover
}

#first-card{
    background-image: url("../Design/Imgs/front-end.jpg");
}

#second-card{
    background-image: url("../Design/Imgs/front-end.jpg");
}

#third-card{
    background-image: url("../Design/Imgs/front-end.jpg");
}

#fourth-card{
    background-image: url("../Design/Imgs/front-end.jpg");
}

.service-heading{
    font-size: 25px;
    padding: 15px 0px;
    height: 30px;
    text-align: center;
    letter-spacing: -1px;
}

.service-card p{
    width: 80%;
    text-align: center;
}
